body {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 56px;
    line-height: 85px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
}

/* fine typography */

nav {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 600;
}
nav ul {
    float: right;
}
/* creaimo un clearfix */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
nav ul li {
    display: inline-block;
    line-height: 25px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 0.5px;
}
nav ul li span {
    color: #000;
    margin: 0;
    padding: 0;
}
nav li a:hover {
    border: 2px solid #000;
    border-width: 2px;
}

#navbar.container {
    background-color: #fff;
    line-height: 50px;
    margin: 0 auto;
    max-width: 1000px;
}
.container .logo img {
    margin-top: 15px;
}
.container .ham-menu {
    position: relative; 
}
.container .fa-bars {
    display: none;
}

/* navbar centrale sparisce alla media query */
@media all and (max-width: 991px) {
    .container .navbar-wrapper  {
        display: none;
    }
    /* navbar laterale sparisce alla media query */
    .container .languages {
        display: none
    }
    /* hamburger menu compare */
    .container .fa-bars {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 20px;
        color: black;
    }
}

/* hero section */

.hero-section {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    height: 80vh;
}

.hero-section .wrapper-text {
    padding: 50px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-section .wrapper-text img {
    display: inline-block;
}
/* media queries h1 */
@media all and (max-width: 500px) {
    h1 { 
        font-size: 44px;
        line-height: 56px;
    }

    p {
        line-height: 30px;
        font-size: 16px;
        font-weight: 400;
    }
}

@media all and (max-width: 320px) {
    h1 { 
        line-height: 30px;
        font-size: 32px;
    }

    p {
        line-height: 30px;
        font-size: 16px;
        font-weight: 400;
    }
}

/* sezione prodotti */

#prodotti {
    margin: 50px 0;
    color: #000;
}

#prodotti img {
    max-width: 430px;
}

#prodotti .container .wrapper .box {
    padding: 50px;
    text-align: center;
    background-color: #fafafa;
}

#prodotti .container .wrapper .box.left {
    margin-right: 20px;
}

#prodotti .container .wrapper .box.right {
    margin-left: 20px;
} 

#prodotti .container .wrapper .box a {
    display: block;
    text-decoration: none;
    color: #0007ff;
}

/* media queries */

@media all and (max-width: 768px) {

    #prodotti img {
        max-width: 300px;
    }

    #prodotti .container .wrapper .box {
        text-align: center;
        background-color: #fafafa;
    }
    
    #prodotti .container .wrapper .box.left {
        margin-right: 0px;
    }
    
    #prodotti .container .wrapper .box.right {
        margin-left: 0px;
    }
} 
/* immagini iphone 5 iphone SE */
@media all and (min-width: 350px) {

    #prodotti .container .wrapper .box img {
        max-width: 200px;
    }
}

/* sezione iphone trasparente */

#phone {
    position: relative;
    color: black;
}

#phone .sfondo {
    background-image: url(../img/HelbizBanner.jpg);
    height: 650px;
    background-position-x: 30%;
}

#phone .phone img {
    max-width: 400px;
    position: absolute;
    top: 25%;
    left: 35%;
}

#phone .container .box {
    padding: 40px 0;
}

#phone .container .box h2 {
    padding-left: 50px;
    width: 245px;
    font-size: 30px;
}

#phone .container .box p {
    line-height: 20px;
    padding-top: 10px;
}

/* media queries */


@media all and (max-width: 1200px) {
    #phone .phone img {
        left: 35%;
    }
}

@media all and (max-width: 767px) {
    #phone .phone img {
        max-width: 300px;
        left: 30%;
    }

    #phone .container .box {
        padding: 0px 35px;
    }

    #phone .container .box h2 {
        line-height: 40px;
        margin: 30px 0 0 195px;
    }

    #phone .container .box p {
        padding: 20px 0 0 245px;
    }

}

@media all and (max-width: 600px) {
    #phone .phone img {
        left: 22%;
    }
    #phone .container .box {
        padding: 0px 35px;
    }

    #phone .container .box h2 {
        line-height: 40px;
        margin: 30px 0;
    }

    #phone .container .box p {
        padding-left: 50px;
    }    

}

@media all and (max-width: 500px) {

    img {
        max-width: 130px;
    }

    #phone .phone img {
        left: 10%;
    }
    #phone .container .box {
        padding: 0px 35px;
    }

    #phone .container .box h2 {
        line-height: 40px;
        margin: 30px 0;
    }

    #phone .container .box p {
        padding-left: 50px;
    }    
}

/* sezione tre blocchi */

/* le immagini di sfondo */
#three-blocks .container .upper-block {
    background-image: url(../img/ScooterHelbiz-2400.jpg);
    background-size: cover;
    height: 500px;
    position: relative;
}

#three-blocks .container .left-block {
    background: linear-gradient(#41566a,#252f38) 50% no-repeat;
    margin-top: 30px;
    padding-right: 15px;
    position: relative;
}

#three-blocks .container .right-block {
    background-image: url(../img/Cities-1500.jpg);
    margin-top: 30px;
    padding-left: 15px;
    height: 594px;
    background-size: cover;
    position: relative;
}


/* lo stile dei tre blocchi */
/* upper block */
#three-blocks .upper-block .wrapper-text {
    position: absolute;
    top: 28%;
    left: 60%;
    max-width: 330px;
    text-align: center;
}

#three-blocks .wrapper-text h2 {
    font-size: 40px;
    font-weight: 600;
}

#three-blocks .wrapper-text p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
    line-height: 30px;
}

#three-blocks .wrapper-text a {
    color: #fff;
    text-decoration: none;
}

/* media queries blocco sopra */

@media all and (max-width: 768px) {
    #three-blocks .container .upper-block {
        margin-top: 50px;
    }

    #three-blocks .upper-block .wrapper-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #three-blocks .wrapper-text h2 {
        font-size: 32px;
    }
    #three-blocks .wrapper-text p {
        font-size: 17px;
        font-weight: normal;
    }
}

/* left block */

#three-blocks .container .left-block .wrapper-text {
    position: absolute;
    top: 10%;
    left: 22%;
    text-align: center;
}
#three-blocks .container .left-block a {
    display: inline-block
}

#three-blocks .container .left-block img {
    max-height: 390px;
    margin-top: 200px;
}

/* right block */

#three-blocks .container .right-block .wrapper-text {
    position: absolute;
    top: 10%;
    left: 25%;
    text-align: center;
}

/* social banner centrale */

#social-banner .photo {
    background-image: url(../img/Social-Banner.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
    margin-top: 50px;
}

#social-banner .photo .wrapper {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 25px;
    padding: 50px 150px
}

#social-banner .photo .wrapper li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    font-size: 30px;
}

#social-banner .photo .wrapper li:last-child {
    margin-right: 0;
}

#social-banner .photo .wrapper h2 {
    color: #000;
    font-weight: 600;
}

#social-banner .photo .wrapper a {
    color: #000;
    padding: 0 7px;
}

/* media queries social banner */

/* margini icone fontawesome */

@media all and (max-width: 1151px) {
    #social-banner .photo .wrapper li {
        margin-right: 20px;
    }
}

/* padding wrapper bianco */
@media all and (max-width: 600px) {
    #social-banner .photo .wrapper {
        padding: 40px 80px;
    }
}

@media all and (max-width: 440px) {
    #social-banner .photo .wrapper {
        padding: 20px;
    }
}

/* footer */

footer {
    padding: 100px 0;
    background-color: #000;
    font-family: 'Lato', sans-serif;
    margin-top: 50px;
}

footer h3 {
    text-transform: uppercase;
    font-size: 17px;
}

footer ul {
    margin-top: 30px;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: #696969;
    text-decoration: none;
    line-height: 40px;
}

/* media query footer */

@media all and (max-width: 768px) {
    footer {
        padding: 50px 20px;
    }
    footer .container .box {
        margin-top: 40px;
    }

    footer ul {
        margin-top: 15px;
    }

    footer ul li a {
        font-size: 14px;
        line-height: 32px;
    }
}

footer .colophon .container {
    margin-top: 50px;
    border-top: 1px solid #69696986;
    border-bottom: 1px solid #69696986;
}

footer .colophon .container .block:nth-child(2),
footer .colophon .container .block:nth-child(3),
footer .colophon .container .block:nth-child(4) {
    margin-top: 15px;
}

footer .colophon .container ul {
    margin-bottom: 30px;
}

footer .colophon .container ul li {
    display: inline-block;
    margin-right: 30px;  
}

footer .colophon .container ul li:last-child {
    margin-right: 0px ;  
}

footer .colophon .container .social-icon {
    padding: 15px
}

footer .colophon .container .social-icon li a {
    font-size: 20px;
    color: #fff;
}

footer .colophon .container li a {
    color: #fff;
    font-size: 13px;
}

/* colophon media queries */

@media screen and (max-width: 768px) {
    footer .container {
        padding: 30px 0;
    }
    
    footer .container .block {
        margin: 0;
    }
    
    footer .colophon .container ul {
        margin: 0;
    }
    
    footer .colophon .container .social-icon {
        padding: 0;
    }
}

footer .wrapper {
    position: relative;
    margin-top: 60px;
}

footer .wrapper .badge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .wrapper .badge img {
    display: inline-block;
    padding: 0 5px;
}

/* media query wrapper badge */

@media all and (max-width: 524px) {
    footer .wrapper .badge img {
        max-width: 100px;
    }
}

@media all and (max-width: 446px) {
    footer .wrapper .badge img {
        max-width: 80px;
    }
}

@media all and (max-width: 370px) {
    footer .wrapper .badge {
        left: 20%;
    }
}





