body {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 56px;
    line-height: 85px;
}

p {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
}

/* fine typography */

nav {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;  
    font-weight: 600;
}
nav ul {
    float: right;
}
/* creaimo un clearfix */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
nav ul li {
    display: inline-block;
    line-height: 25px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 0.5px;
}
nav ul li span {
    color: #000;
    margin: 0;
    padding: 0;
}
nav li a:hover {
    border: 2px solid #000;
    border-width: 2px;
}

#navbar.container {
    background-color: #fff;
    line-height: 50px;
    margin: 0 auto;
    max-width: 1000px;
}
.container .logo img {
    margin-top: 15px;
}
.container .ham-menu {
    position: relative; 
}
.container .fa-bars {
    display: none;
}

/* navbar centrale sparisce alla media query */
@media all and (max-width: 991px) {
    .container .navbar-wrapper  {
        display: none;
    }
    /* navbar laterale sparisce alla media query */
    .container .languages {
        display: none
    }
    /* hamburger menu compare */
    .container .fa-bars {
        display: block;
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 20px;
        color: black;
    }
}

/* hero section */

.hero-section {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    height: 80vh;
}

.hero-section .wrapper-text {
    /* width: 800px; */
    padding: 50px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-section .wrapper-text img {
    display: inline-block;
}

/* sezione prodotti */

#prodotti {
    margin: 50px 0;
    color: #000;
}

#prodotti img {
    max-width: 430px;
}

#prodotti .container .wrapper .box {
    padding: 50px;
    text-align: center;
    background-color: #fafafa;
}

#prodotti .container .wrapper .box.left {
    margin-right: 20px;
}

#prodotti .container .wrapper .box.right {
    margin-left: 20px;
} 

#prodotti .container .wrapper .box a {
    display: block;
    text-decoration: none;
    color: #0007ff;
}

@media all and (max-width: 768px) {

    #prodotti img {
        max-width: 300px;
    }

    #prodotti .container .wrapper .box {
        text-align: center;
        background-color: #fafafa;
    }
    
    #prodotti .container .wrapper .box.left {
        margin-right: 0px;
    }
    
    #prodotti .container .wrapper .box.right {
        margin-left: 0px;
    }
} 

/* sezione iphone trasparente */

#phone {
    position: relative;
    color: black;
}

#phone .sfondo {
    background-image: url(../img/HelbizBanner.jpg);
    height: 650px;
    background-position-x: 30%;
}

#phone .phone img {
    max-width: 400px;
    position: absolute;
    top: 25%;
    left: 35%;
}

#phone .container .box {
    padding: 40px 0;
}

#phone .container .box h2 {
    padding-left: 50px;
    width: 245px;
    font-size: 30px;
}

#phone .container .box p {
    line-height: 20px;
    padding-top: 10px;
}

/* media queries */

@media all and (max-width: 767px) {
    #phone .phone img {
        max-width: 300px;
        left: 10%;
    }

    #phone .container .box {
        padding: 0px 35px;
    }

    #phone .container .box h2 {
        line-height: 40px;
        margin: 30px 0;
    }

    #phone .container .box p {
        padding-left: 50px;
    }

}

@media all and (max-width: 375px) {
    img {
        max-width: 130px;
    }
}
